* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2 rem;
  width: 120px;
  cursor: pointer;
}

div.login-form {
  background-color: #eee;
  padding: 40px;
  border-radius: 20px;
  max-width: 400px;
  box-shadow: 10px 10px grey;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}